.background {
    -fx-background-color: linear-gradient(from 0% 100% to 0% 100%, #373636 0%, #505050 100%);
}

.buttonSave {
	    -fx-background-color:#32CD32;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.buttonEdit {
    -fx-background-color: #FF8000;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.buttonRemove {
            -fx-background-color:#e60000;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.buttonConclude {
            -fx-background-color:#1E90FF;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}

.backgroundHboxWhite {
	-fx-background-color: #fff;
	-fx-background-radius: 5,4,3,5;
}

.backgroundHbox {
    -fx-background-color: #36b8ee;
    -fx-background-radius: 5,4,3,5;
}

.backgroundHbox2{
	-fx-background-color: #fff;
	-fx-background-radius: 5,4,3,5;
}

.buttonMenu{
    -fx-font-size: 20;
     -fx-font-family:"Times New Roman";
    
     -fx-background-color:#1C3235;
     -fx-text-fill: white;
     -fx-cursor: hand;
}
.buttonMenuWhite{
    -fx-font-size: 20;
     -fx-font-family:"Times New Roman";
    
     -fx-background-color:whitesmoke;
     -fx-text-fill: black;
}
.buttonMenuWhite:hover{
    -fx-border-color: #ccff00;
    -fx-cursor: hand;
}
#table-view .table-column {
  -fx-alignment: CENTER;
  
}

.buttonMenu:hover{
    -fx-border-color: white;
    
    
}
#time{
    -fx-font-family:"Segoe UI Light";
  
    -fx-font-size: 30px;
}

.labelTitle{
	-fx-font-family: System ;
	-fx-font-size: 45px;
	-fx-font-weight:bold;
}
.text-field{
	-fx-background-color: transparent;
}
#lebalFontTimesNewRoman{
    
    -fx-font-family:"Times New Roman";
  
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    }